.App {
  text-align: center;
}

.container {
  max-width: 1140px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.custom-nav {
  background-color: #4CCAF0;
  color: white;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.card {
  color: #000;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

.card:hover {
  background-color: #fff;
  box-shadow: 0 14px 25px rgb(0 0 0 / 16%);
}

.preview {
  width: 100%;
  margin-top: 50px;
}

.preview table {
  width: 100%;
}

.holders {
  display: flex;
  justify-content: space-around;
}

.comparebtn {
  width: 100px;
  height: 40px;
  margin: 20px 20px 20px 0px;
  background-color: hsl(120, 48%, 41%);
  color: white;
  border-radius: 10px;
}

.select-search {
  width: 250px;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  margin: 20px 20px 20px 0px;
}

.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

.select-search__input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__select {
  background: #fff;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

.select-search__options {
  list-style: none;
}

.select-search__option {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search--multiple .select-search__option {
  height: 48px;
}

.select-search__option.is-selected {
  background: #4CCAF0;
  color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #4CCAF0;
  color: #fff;
}

.select-search--multiple {
  border-radius: 3px;
  overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple)
  .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #4CCAF0;
}

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search--multiple .select-search__select {
  position: relative;
  overflow: auto;
  max-height: 260px;
  border-top: 1px solid #eee;
  border-radius: 0 0 3px 3px;
}

.filter-button {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

.filter-button button {
  border: 1px solid #4CCAF0;
  background-color: #4CCAF0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pokemon-info,
.pokemon-description,
.stats-table {
  margin: 20px;
}

.stats-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-table table {
  width: 50%;
}

.stats-table table th {
  width: 50%;
}